@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 230 35% 7%;
		--main: 231 77% 90%;
	}

 

	html {
		min-height: 100dvh;
		height: 100%;
	}

	body {
		@apply contents text-white;
	}
 nav {
    @apply text-base tracking-[.168rem]
  }

}
